ul, 
ol {
    margin-left: $base-spacing-unit;
}

li {
    > ul, 
    > ol {
        margin-bottom: 0;
    }
}

.list {
    list-style: none;
    margin-left: 0;
}

.list--socials {
    margin-bottom: 0;
    li {
        display: inline-block;
        margin-right: $base-spacing-unit / 4;
        &:last-child {
            margin-right: 0;
        }
    }
}

.list--tags {
    li {
        display: inline;
        @include font-size($base-font-size + 2);
        font-style: italic;
    }
}