h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-weight: 300;
  line-height: 1;
}

small {
    font-size: .75em;
}

strong {
    font-weight: 700; 
}

h1, h2 {
    @include font-size($base-font-size + 40);
    @include resp-max($breakpoint-sm) {
        @include font-size($base-font-size + 20);
    }
}

h3 {
    @include font-size($base-font-size + 8);   
}

h4 {
    color: $brand-colour;
    @include font-size($base-font-size + 4);
    .section--highlight & {
        color: #fff;
    }
}