.footer {
    background-color: $grey;
    color: #fff;
    padding: $base-spacing-unit 0;
    width: 100%;
    .footer__logo {
        width: 125px;
    }
    .footer__copyright {
        margin-bottom: 0;
        @include font-size($base-font-size - 2);
    }
    .error404 & {
        position: absolute;
        bottom: 0;
    }
}