.header {
    padding: $base-spacing-unit 0;
    .header__logo {
        float: left;
        @include resp-max($breakpoint-sm) {
            max-width: 100px;
        }
    }
    .header__burger {
        display: none;
        float: right;
        width: 28px;
        height: 16px;
        position: relative;
        z-index: 9999;
        margin-top: 14px;
        @include resp-max($breakpoint-sm) {
            display: inline-block;
        }
        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: $base-colour;
            position: absolute;
            transition-property: background-color, opacity, top, transform;
            transition-duration: .25s, .25s, .25s, .15s;
            transition-delay: 0s, 0s, 0s, .25s;
            .invert-colours & {
                background-color: #fff;
            }
            &:first-child {
                top: 0;
            }
            &:nth-child(2) {
                top: calc(50% - 1px);
            }
            &:nth-child(3) {
                top: calc(100% - 2px);
            }
        }
        &.is-active {
            span {
                .invert-colours & {
                    background-color: $base-colour;
                }
                &:first-child {
                    top: calc(50% - 1px);
                    transform: rotate(-42.5deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    top: calc(50% - 1px);
                    transform: rotate(42.5deg);
                }
            }
        }
        &.inverse {
            span {
                transition-property: opacity, top, transform;
                transition-duration: .25s, .25s, .25s;
                transition-delay: 0s, .25s, .0s;
            }
        }
    }
    .header__navigation {
        float: right;
        padding: 27px 0;
        @include resp-max($breakpoint-sm) {
            display: none;
            position: absolute;
            top: 95px;
            left: 0;
            width: 100%;
            background-color: #fff;
            z-index: 9999;
        }
    }
    .blog &, .single &, .archive & {
        margin-bottom: $base-spacing-unit * 2;
    }
}