.section {
    padding: ($base-spacing-unit * 4) 0;
    text-align: center;
}

.section--default {
    &:nth-child(even)
    {
        background-color: $super-light-grey;
    }
    .section__image,
    .section__video,
    .section__panorama {
        max-width: 100%;
        height: auto;
        margin-bottom: $base-spacing-unit * 2;
    }
    .section__panorama {
        margin-top: -($base-spacing-unit * 4);
        margin-bottom: $base-spacing-unit * 4;
    }
    .section__image {
        &.has-video {
            display: none;
            @include resp-max($breakpoint-sm) {
                display: block;
            }
        }
    }
    .section__video {
        @include resp-max($breakpoint-sm) {
            display: none;
        }
    }
}

.section--highlight {
    padding: 0;
    .section__image {
        width: 100%;
        height: 475px;
        background-position: center;
        background-repeat: no-repeat;
        &.section__image--cover {
            background-size: cover;
            &.js-paralax {
                background-attachment: fixed;
                background-position: 50% 0;
            }
        }
        &.section__image--contain {
            background-size: contain;
        }
        @include resp-max($breakpoint-sm) {
            height: 300px;
        }
    }
    .section__copy {
        padding: ($base-spacing-unit * 2) 0;
        background-color: $brand-colour;
        color: #fff; 
        .btn {
            color: $brand-colour;
            background-color: #fff;
            font-weight: 400;
            opacity: 1;
            transition: opacity .5s;
            &:hover {
                border: 1px solid #fff;
                opacity: .75;
            }
        }
    }
}

.section--grey {
    background-color: $grey;
    color: #fff;
    a {
       color: #fff; 
    }
}

.section--contacts {
    h4 {
        margin-bottom: $base-spacing-unit / 2;
        font-weight: 400;
        color: $light-grey;
    }
}

.sidebar {
    .sidebar__section {
        margin-bottom: $base-spacing-unit * 2;
        &:last-child {
            margin-bottom: 0;
        }
        .sidebar__heading {
            border-bottom: 2px solid $light-grey;
            padding-bottom: $base-spacing-unit / 2;
            margin-bottom: $base-spacing-unit;
        }
        a {
            color: $base-colour;
        }
        &.sidebar__section--archive {
            li {
                font-style: italic;
            }
        }
    }
}

.four-oh-four {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    h1 {
        margin-bottom: $base-spacing-unit / 4;
    }
    p {
        margin-bottom: 0;
    }
}
