/**
 * Colours
 */

$base-colour:            #444;
$base-background-colour: #fff;

$brand-colour:           #38C098;
$success-colour:         #5CB85C;
$info-colour:            $brand-colour;
$warning-colour:         #F0AD4E;
$danger-colour:          #D9534F;

$super-light-grey:       #f7f7f7;
$light-grey:             #e0e0e0;
$grey:                   #919497;


/**
 * Typography
 */

$sans-serif-font-family:  'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif-font-family:       Georgia, "Times New Roman", Times, serif;
$base-font-family:        $sans-serif-font-family;

$base-font-size:          16;
$base-line-height:        1.5;
$base-spacing-unit:       ($base-font-size * $base-line-height) * 1px;


/**
 * Breakpoints
 */

$breakpoint-sm: 767px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

$breakpoints: (
    'lg' '(min-width: ' + $breakpoint-lg + ')',
    'md' '(min-width: ' + $breakpoint-md + ') and (max-width: ' + ($breakpoint-lg - 1) + ')',
    'sm' '(min-width: ' + ($breakpoint-sm + 1) + ') and (max-width:'  + ($breakpoint-md - 1) + ')',
    'xs' '(max-width: ' + $breakpoint-sm + ')'
);


/**
 * Grid
 */

$grid-max-width: 960px;
$grid-columns:   12;
$grid-gutter:    $base-spacing-unit;


/**
 * Components
 */

$border-radius: 3px;