.jumbotron {
    height: 480px;
    position: relative;
    background-repeat: no-repeat;
    @include resp-max($breakpoint-sm) {
        height: 300px;
    }
    &.jumbotron--image {
        background-attachment: fixed;
        background-size: cover;
        background-position: 50% 0;
        @include resp-max($breakpoint-sm) {
            background-size: cover;
            background-position: 50% 50%;
        }
    }
    &.jumbotron--video {
        background-size: 0 0;
        @include resp-max($breakpoint-sm) {
            background-size: cover;
        }
    }
    .jumbotron__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: .25;
        z-index: 10; 
        @include resp-max($breakpoint-sm) {
            opacity: .5;
        }
    }
    .jumbotron__video {
        height: 100%;
        position: relative;
        overflow: hidden;
        @include resp-max($breakpoint-sm) {
            display: none;
        }
        .jumbotron__video__overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: .15;
            z-index: 10;
        }
        .jumbotron__video__player {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
            z-index: 0;
        }
    }
    .jumbotron__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 20;
        color: #fff;
        text-align: center;
        h1, h2 {
            margin-bottom: 0;
            text-transform: uppercase;
            white-space: nowrap;
            @include resp-max($breakpoint-sm) {
                white-space: normal;
            }
        }
        h1 {
            @include font-size($base-font-size * 5.5);
            font-weight: 700;
            @include resp-max($breakpoint-sm) {
                @include font-size($base-font-size * 3);
                margin-bottom: $base-spacing-unit / 2;
            }
        }
        h2 {
            @include font-size($base-font-size + 8);
        }
    }
}

.map {
    width: 100%;
    height: 370px;
    @include resp-max($breakpoint-sm) {
        margin-bottom: $base-spacing-unit;
    }
}

.contacts {
    text-align: left;
}